<%= form_for @album do |f| %>
  <% if @album.errors.any? %>
    <div class="validation-errors alert alert-danger">
      <ul class="list-unstyled">
        <% @album.errors.full_messages.each do |message| %>
          <li>Album <%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :cover_photo %>
    <%= f.hidden_field :cover_photo, value: @album.cached_cover_photo_data, id: "album-cover-photo-upload-result" %>
    <%= f.file_field :cover_photo, accept: ImageUploader::ALLOWED_TYPES.join(","), data: { upload_server: upload_server, preview_element: "preview-cover-photo", upload_result_element: "album-cover-photo-upload-result" } %>
  </div>
  <div class="image-preview">
    <%= image_tag @album.cover_photo_url(:small).to_s, width: 300, class: "img-thumbnail file-upload-preview", id: "preview-cover-photo" %>
  </div>

  <div class="form-group">
    <%= label_tag "album-photos-field", "Select photos" %>
    <%= file_field_tag "files[]", multiple: true, accept: ImageUploader::ALLOWED_TYPES.join(","), id: "album-photos-field", data: { template: "template-photo", upload_list: "album-photo-list", upload_server: upload_server } %>
  </div>

  <ul class="list-unstyled file-upload-list" id="album-photo-list">
    <% @album.photos.each_with_index do |photo, idx| %>
      <%= render partial: "photo", locals: { photo: photo, idx: idx } %>
    <% end %>
  </ul>

  <%= f.submit "Save", class: "btn btn-primary" %>
  <%= link_to albums_path, class: "btn btn-default" do %>
    &larr; Back to albums
  <% end %>
<% end %>
