<%= form_for @album do |f| %>
  <% if @album.errors.any? %>
    <ul class="list-unstyled alert alert-danger">
      <% @album.errors.full_messages.each do |message| %>
        <li>Album <%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :cover_photo, class: "form-label" %>

    <!-- will be replaced by Uppy -->
    <%= f.file_field :cover_photo,
      accept: ImageUploader::ALLOWED_TYPES.join(","),
      class: "form-control",
      data: {
        upload_server: upload_server,
        preview_element: "preview-cover-photo",
        upload_result_element: "album-cover-photo-upload-result",
      } %>

    <!-- for storing cover photo uploaded file data -->
    <%= f.hidden_field :cover_photo,
      value: @album.cached_cover_photo_data,
      id: "album-cover-photo-upload-result" %>
  </div>

  <div class="d-inline-block mt-1 mb-3">
    <!-- static link to the thumbnail generated on attachment -->
    <%= image_tag @album.cover_photo_url(:medium).to_s,
      width: 300,
      class: "img-thumbnail file-upload-preview",
      id: "preview-cover-photo" %>
  </div>

  <% if @album.persisted? %>
    <div class="mb-3">
      <!-- will be replaced by Uppy -->
      <%= f.label :photos, "Select photos", class: "form-label" %>
      <%= f.file_field :photos,
        multiple: true,
        class: "form-control",
        accept: ImageUploader::ALLOWED_TYPES.join(","),
        data: {
          upload_server: upload_server,
        } %>
    </div>
  <% end %>

  <ul class="list-unstyled file-upload-list" id="album-photo-list">
    <%= f.fields_for :photos do |pf| %>
      <%= render partial: "photo", locals: { photo: pf.object, f: pf } %>
    <% end %>
  </ul>

  <%= f.submit "Save", class: "btn btn-primary" %>
  <%= link_to albums_path, class: "btn btn-light" do %>
    &larr; Back to albums
  <% end %>
<% end %>
