<li>
  <div class="media">
    <div class="media-left">
      <%= image_tag photo.image.derivation_url(:thumbnail, "300", "300").to_s,
        width: 150,
        class: "img-thumbnail media-object" %>
    </div>
    <div class="media-body">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :_destroy, "Remove Photo" %>
        <%= f.check_box :_destroy %>
      </div>
    </div>
  </div>
</li>
